{% extends "base.html" %} {% load humanize %} 

<!-- load static for image files -->
{% load static %}

<!-- title -->
{% block title %} | Dashboard {% endblock %}
<!---->
{% block content %}

<!-- created by uni-->

<section id="showcase" class="py-5 text-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <p></p>
        <h1 class="display-4">User Dashboard</h1>
        <p class="lead">Manage your Services</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index'%}"> <i class="fa fa-wrench"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
</section>

{% include 'partials/_alerts.html' %}
<section id="dashboard" class="py-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome: {{ user.first_name }}</h2>
        <p>Here are the services that you have inquired about</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Update</th>
              <th scope="col">Name</th>
              <th scope="col">Message</th>
              <th scope="col">Phone</th>
              <th scope="col">Address</th>
              <th scope="col">Delete</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="update/{{id}}">{{id}}</a>
              </td>
              <td>{{ name }}
              </td>
              <td>{{ message }}
              </td>
              <td>{{ phone }}
              </td>
              <td>{{ address }}
              </td>
              <td><a href="delete/{{id}}">Delete</a>
              </td> 
            </tr>
          </tbody>
        </table>
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
      