{% extends 'base.html' %} {% load humanize %}
{% block content %}

<!-- created by uni-->

<div class="card">
  <img src="static/img/index/hc.jpg" alt="" class="img-fluid">
  <div class="card-body text-center">
    <h1 class="display-4 mb-4">COVERAGE FOR THE REAL WORLD</h1>
    <h4>
      Our plans cover up to 23 appliances and systems, and if we can't repair it, we'll replace it.
    </h4>
  </div>

<!-- icons -->
<div class="container-fluid">
  <div class="card-columns" >
  
  <div class="card text-center" style="border-color:rgb(255, 255, 255)">
    <img src="static/img/index/heating.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Heating &amp; Cooling</span>
      </h2>
      <p class="text-center text-1">Air conditioning units, Heating units, &amp;heat pumps</p>
    </div>
  </div>

  <div class="card text-center" style="border-color:rgb(255, 255, 255)">
    <img src="static/img/index/es.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Electrical Systems</span>
      </h2>
      <p class="text-center text-1"></p>Wiring, fuse boxes &amp;outlets</p>
    </div>
  </div>

  <div class="card text-center" style="border-color:rgb(255, 255, 255)">
    <img src="static/img/index/ps.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Plumbing Systems</span>
      </h2>
      <p class="text-center text-1"></p>Water lines, pipe leaks, breaks &amp; stoppages</p>
    </div>
  </div>

  <div class="card text-center" style="border-color:rgb(255, 255, 255)">
    <img src="static/img/index/ka.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Kitchen Appliances</span>
      </h2>
      <p class="text-center text-1"></p>Refrigerator, oven, range &amp; microwave</p>
    </div>
  </div>

  <div class="card text-center" style="border-color:rgb(255, 255, 255)">
    <img src="static/img/index/la.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Laundry Appliances</span>
      </h2>
      <p class="text-center text-1"></p>Washing machine &amp;clothes dryer</p>
    </div>
  </div>


  <div class="card text-center" style="border-color:rgb(255, 255, 255)">
    <img src="static/img/index/el.png" alt="" class="img-ml" style="width:200px;">       
    <div class="card-body">
      <h2 class="flex justify-center font-bold text-2 align-items-center">
      <span class="pl-3 text-center">Electronics</span>
      </h2>
      <p class="text-center text-1"></p>Computers, TVs, gaming systems &amp; smart home products</p>
    </div>
  </div>
  </div>


<!-- Description -->
<div class="container">
  <div class="text-base">
  <div id="homeWarrantyInfoSection.Items">
  <div>
    <div
      id="homeWarrantyInfoSection.FirstInfo"
      class=""
      style="display: block"
    >
      <div class="my-4" id="home_warranty_info_item.WhatIsAHomeWarranty">
        <div class="flex justify-center">
          <a
            href="#"
            class="link link-underline-hover text-3xl text-center font-bold text-ahs-blue leading-8 z-10 uppercase"
            tabindex="0"
            aria-disabled="false"
            ><h2>
            What Is a Home Care?
            </h2></a
          >
        </div>
        <div class="pt-4 HomeWarranty_paragraphSpacing__PzcUx">
          <p>
            A warranty for your home is an annual renewable service contract
            that provides protection and peace of mind, offering a safeguard
            for when certain essential household systems and appliances
            break. Home warranties help cut the high cost to repair or
            replace many of the systems and appliances in your home. They
            complement your homeowners' insurance by protecting things that
            aren’t covered under the umbrella of home insurance.
          </p>
          <p></p>
          <p>
            An HomeCare service plan is like a traditional
            home warranty but better, thanks to its extended coverage and
            exclusive member perks. The first layer of protection is to help
            with the cost and hassle that comes with repairing or replacing
            parts of home appliances and systems that break down over time.
            But we don’t stop there – our home service plans provide
            HomeCare members with exclusive pricing on home
            maintenance services, new appliances, and a variety of home
            services. From tech installation and setup to pre-season HVAC
            tune-ups, we’ve got your back.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
  
  <div class="container">
    <a  href="#demo" class="btn btn-info" data-toggle="collapse"> Read more</a>
          <div id="demo" class="collapse">
           
              <h2>WHY DO I NEED ONE?</h2> 
              <p>
              The short answer is that home care
              coverage is a proactive way to shield the home systems and
              appliances you rely on every day. It’s a cover-all approach
              that keeps you protected from the inconvenience of going
              without the essentials. When an item breaks down due to
              normal wear and tear, we will help with the cost to repair
              it. If it can't be repaired, we will replace the item for
              you (subject to the limitations and exclusions of your
              plan). It’s not just about the immediate benefits, either –
              a home service plan helps keep your budget under control and
              saves you time searching for a qualified contractor.
              </p>
      </div>
  </div>
  
</div>   

<br>
<br>

<!-- #our member -->
<div class="container">
       
 <div class="card-columns" style="width: 1500px;">
   <div class="container-xl">
     <div class="card" style="width: 700px; height: 700px;" >
       <img src="static/img/index/our-members-get-more.jpg" alt="" class="card-img-left" >
      </div>
   </div>
   <div class="container-xl">
     <div class="card p-5" style="width: 700px; height: 726px;">
         <div class="justify-right">
                     <div class="xl:w-700px">
                     <h2
                     class="px-4 text-3xl font-bold text-center text-ahs-blue xl:text-left xl:text-4xl xl:p-0"
                     >
                     OUR MEMBERS GET MORE.
                     </h2>
                     <div class="px-4 my-3 text-base xl:p-0 text-left lg:text-left">
                     All home warranties are not created equal. Our Shield Assurances
                     are always included, even in our base plans. This means you’ll
                     get protection for:
                     </div>
                     <div class="px-4 my-6 xl:p-0 xl:my-10">
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                    
                     <img src="static/img/index/t.png" alt="" style="width:30px;">
                   
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Older items, no matter their age</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                      <img src="static/img/index/t.png" alt="" style="width:30px;">
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Undetectable pre-existing conditions</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                     
                     <img src="static/img/index/t.png" alt="" style="width:30px;">
                     
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Items without maintenance records</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                      <img src="static/img/index/t.png" alt="" style="width:30px;">
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Breakdowns caused by lack of maintenance</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                      <img src="static/img/index/t.png" alt="" style="width:30px;">
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Improper installations, repairs or modifications</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                      <img src="static/img/index/t.png" alt="" style="width:30px;">
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Malfunctions due to sediment, rust or corrosion</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                      <img src="static/img/index/t.png" alt="" style="width:30px;">
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Removal of old, defective items</span
                     >
                     </div>
                     <div class="flex mb-2 align-items-center xl:mb-4">
                     <span>
                      <img src="static/img/index/t.png" alt="" style="width:30px;">
                     </span>
                     <span class="text-base font-bold text-ahs-blue"
                     >Duplicates of the same item, like that extra A/C unit</span
                     >
                     </div>           
          </div>
         </div>
       </div>          
     </div>
     </div>     
</div>
</div>
<br>
<br>
<!-- Plans Modal-->
<div class="container">

  <div class="container">                  
    <div class="modal fade" id="inquiryModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inquiryModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--GoldShield -->
            <div class="card bg-dark ml-1" style="height:32rem;box-shadow:8px 8px 10px rgb(97, 94, 94);">
              <div class="card-body">
                  <h2 class="card-title my-class text-white">GoldShield</h2>
                  <div>
                      <p class="text-white mb-4">Covers everything in SilverShield, plus 9 more appliances that you use every day.</p>
                  </div>
                  <div>
                      <a href="{% url 'login' %}" class="get_price_button">Get Price</a>
                  </div>
                   <div class="mt-4"> 
                      <svg class="d-inline mb-1 text-white"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>
                      <p class="d-inline mb-1 text-white" style="height: 25px;">Heating and Cooling Systems</p> 
                      <br>
                      <svg class="d-inline mb-1 text-white"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>
                      <p class="d-inline mb-1 text-white" style="height: 25px;">Electrical Systems</p> 
                      <br>
                      <svg class="d-inline mb- text-white"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg><p class="d-inline mb-1 text-white ml-1" style="height: 25px;">Plumbing Systems</p> 
                      <br>
                      <svg class="d-inline mb-1 text-white"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>
                      <p class="d-inline mb-1 text-white" style="height: 25px;">Kitchen Appliances</p> 
                      <br>
                      <svg class="d-inline mb-1 text-white"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg><p class="d-inline mb-1 text-white ml-1" style="height: 25px;">Laundry Appliances</p> 
                    </div>
                  </div>
                </div>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="container">  
    <div class="modal fade" id="inquirModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inquirModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <!-- ShieldSliver -->
            <div class="card ml-5 bg-white" style="height:32rem;box-shadow:8px 8px 10px rgb(97, 94, 94);">
                <div class="card-body">
                    <h2 class="card-title my-class">SilverShield</h2>
                    <div>
                    <p class="text-muted mb-4">Helps protect parts of 14 major systems that keep your home running.</p>
                    </div>
                    <div>
                        <a href="{% url 'login' %}" class="get_price_button">Get Price</a>
                        
                    </div>
                     <div class="mt-4"> 
                        <svg class="d-inlinemb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>
                        <p class="d-inline mb-1 text-muted" style="height: 25px;">Heating and Cooling Systems</p> 
                        <br>
                        <svg class="d-inlinemb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>
                        <p class="d-inline mb-1 text-muted" style="height: 25px;">Electrical Systems</p> 
                        <br>
                        <svg class="d-inline mb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg><p class="d-inline mb-1 text-muted ml-1" style="height: 25px;">Plumbing Systems</p> 
                     </div>
                   </div>
                </div>
           </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="container">  
    <div class="modal fade" id="iModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="iModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <!-- PlatinumShield -->
            <div class="card bg-white ml-1" style="height:32rem;box-shadow:8px 8px 10px rgb(97, 94, 94);">
                <div class="card-body">
                    <h2 class="card-title my-class">PlatinumShield</h2>
                    <div>
                    <p class="text-muted mb-4">Covers everything in GoldShield, plus roof leaks and more.
                    </p>
                </div>
                <div>
                    <a href="{% url 'login' %}" class="get_price_button">Get Price</a>
                </div>
                <div class="mt-4"> 
                    <svg class="d-inline mb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>
                    <p class="d-inline mb-1 text-muted" style="height: 25px;">Heating and Cooling Systems</p> 
                    <br>
                    <svg class="d-inline mb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>
                    <p class="d-inline mb-1 text-muted" style="height: 25px;">Electrical Systems</p> 
                    <br>
                    <svg class="d-inline mb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg><p class="d-inline mb-1 text-muted ml-1" style="height: 25px;">Plumbing Systems</p> 
                    <br>
                    <svg class="d-inline mb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>
                    <p class="d-inline mb-1 text-muted" style="height: 25px;">Kitchen Appliances</p> 
                    <br>
                    <svg class="d-inline mb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg><p class="d-inline mb-1 text-muted ml-1" style="height: 25px;">Laundry Appliances</p> 
                    <br>
                    <svg class="d-inline mb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>
                    <p class="d-inline mb-1 text-muted" style="height: 25px;font-weight:bold;">Roof Leak Repairs</p> 
                    <br>
                    <svg class="d-inline mb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg><p class="d-inline mb-1 text-muted ml-1" style="height: 25px;font-weight:bold;">FREE HVAC Tune-up</p> 
                    <br>
                    <svg class="d-inline mb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg>
                    <p class="d-inline mb-1 text-muted" style="height: 25px;font-weight:bold;">Unlimited A/C refrigerant</p> 
                    <br>
                    <svg class="d-inline mb-1"viewBox="0 0 24 24" fill="currentcolor" class="text-primary &quot;md:fill-current inline-block  align-top" width="24" height="24"><g clip-path="url(#prefix__clip0)"><path d="M9.08 15.681l9.7-9.902a.6.6 0 01.848-.009l.572.56a.6.6 0 01.009.848L9.52 18.09a.6.6 0 01-.852.005l-4.96-4.947a.6.6 0 01-.001-.849l.565-.566a.6.6 0 01.848-.001l3.96 3.95z" fill="currentcolor"></path></g><defs><clipPath id="prefix__clip0"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg><p class="d-inline mb-1 text-muted ml-1" style="height: 25px;font-weight:bold;">Coverage for code violations <span class="p-4">and permits</span></p> 
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
<!-- owners-->
<div class="container d-flex mr-5" style="padding-right:20px">
  <div class="card" style="width:auto;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <h4 class="ml-3">
              Homeowners
            </h4>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div style="padding-right:30px;">
            <a href="#" class="btn" role="button">
            Why should I buy a warranty?</a>
            <a href="#" class="btn" role="button">
            Buying or selling a home?</a>
            <a href="/accounts/login" class="btn" style="text-decoration:underline" role="button">
            Login to MyAccount
            </a>
            <a href="#" class="btn" role="button">
            Schedule a repair</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card" style="width:auto;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <h4 class="ml-3">
              Real estate agents
            </h4>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div style="padding-right:30px;">
              <a href="#" class="btn" role="button">
              Why partner with HomeCare?</a>
              <a href="/accounts/login" class="btn" role="button">
              Partner Portal login</a>
              <a href="/accounts/register" class="btn" style="text-decoration:underline" role="button">
              Register for an account </a>
              <a href="#" class="btn" role="button">
              Buy a real estate plan</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card" style="width:auto;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <h4 class="ml-3">
              Contractors & Techs
            </h4>
          </th>
        </tr>
      </thead>
      <tbody>   
        <tr>
          <td>
            <div style="padding-right:30px;">
              <a href="#" class="btn" role="button">
                Become a tech</a>
              <a href="/accounts/register" class="btn" role="button" style="text-decoration:underline">
                Register for an account</a>
              <a href="#" class="btn" role="button">
                About our contractor network</a>
              <a href="/accounts/login" class="btn" role="button">
                Contractor dashboard login</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
{% endblock %}

