<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Blog RM01</title>
  </head>
  <body>
    <h1 class="dispaly-3 text-center my-4">Repairs & Maintenance Blog</h1>
    <div class="container">

      <!--- breadcrumb-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="index.html">Home</a>
  </li>
  <li class="breadcrumb-item active">RM01</li>
</ol>

<!-- Headings h$ -->
<h1>How to Recharge Your Home A/C Unit and How Much It Costs</h1>

<!-- Paragraphys -->
<p>When the summer season rolls around and the thermostat rises, the air conditioner becomes the most important system in the house. These hardworking systems keep us cool and comfortable despite the heat, but what do you do if they start to malfunction? 
<br>
Here is everything you need to know about how to recharge an A/C unit, as well as signs that it may be time for a replacement. </p>


<h3>What does “recharging your air conditioner” mean?</h3>
<!-- Paragraphys -->
<p>When you hear someone talking about recharging an A/C unit, they are talking about adding more refrigerant to the unit and ensuring the refrigerant is properly pressurized within the refrigerant system.
<br>
If you need refrigerant for your air conditioner, you’ll need to contact a professional heating and cooling technician. Under EPA regulations, only a certified professional can recharge your home’s HVAC system. You should never try to recharge the A/C yourself, even if you have a home air conditioner recharging kit. The refrigerant used can be harmful to you and the environment if it’s not handled properly.</p>

<h3>How do I know if my home A/C needs to be recharged? </h3>
<!-- Paragraphys -->
<p>There are a couple of ways you’ll know if you need an A/C recharge:
<br>
Most of the time, when an A/C unit is leaking refrigerant, it will blow warm air. That’s because the refrigerant is no longer there to cool the air passing through your unit. However, your A/C won’t go from cool to warm overnight like it might in the case of a broken thermostat, for example. It will slowly get warmer over time as your unit’s refrigerant leaks, so you’ll notice your air conditioner’s effectiveness diminishing over weeks or months.
<br>
Another sign that your refrigerant is leaking is ice or frost buildup inside or on the unit. This happens because the refrigerant gas cools everything it touches to the point of freezing—that’s how it cools outside air to pump into your home. When you look inside your unit, it’s normal to see some frosty-looking coiled pipes. Those are your condenser coils, a primary component of the refrigerant system. If everything inside your unit looks frozen, or you’re seeing frost on the outside of the unit, it could be the result of a leak.</p>

<h3>How often do you need to recharge your A/C?</h3>
<!-- Paragraphys -->
<p>The refrigerant systems within A/C units are sealed. This means that home A/C units are designed not to require a recharge unless a leak develops in the refrigerant system. So, unless you notice a problem, a home A/C recharge isn’t needed. </p>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

  </body>
</html>